* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: .5s;
    font-family: Montserrat;
}

.container {
    max-width: 1266px;
    margin: 0 auto;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

.lil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.active {
    background-color: #3E2113;
}

.ques{
    margin-bottom: 90px;
}

nav {
    display: flex;
    gap: 20px;
}


.vect {
    padding: 30px 0px 20px;
}

.vector {
    width: 50px;
    height: 50px;
    background: url(../media/card/1.svg) no-repeat center;

}

.vector:hover {
    background: url(../media/card/2.svg) no-repeat center;
}

header {
    background-color: #3E2113;
    padding: 20px 0px 20px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a {
    font-size: 16px;
    color: #E7E2DF;
    font-weight: 400;
}

nav a:hover {
    color: #BF8862;
}

.iconhead {
    display: flex;
    align-items: center;
    gap: 25px;
}

.vect {
    padding: 30px 0px 20px;
}

.vector {
    width: 50px;
    height: 50px;
    background: url(../media/card/1.svg) no-repeat center;

}

.vector:hover {
    background: url(../media/card/2.svg) no-repeat center;
}

h2 {
    padding-top: 10px;
    font-size: 32px;
    color: #3E2113;
}

.update{
    display: flex;
    align-items: center;
    margin: 30px 0px 80px;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.one_left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-size: 16px;
    font-weight: 400;
    color: #3E2113;
}

textarea{
    height: 130px;
    width: 600px;
    padding: 10px;
    border: 1px solid #3e211350;
    border-radius: 20px;
    color: #3C2010;
}

input{
    width: 600px;
    padding: 10px;
    border: 1px solid #3e211350;
    border-radius: 20px;
    color: #3C2010;
}

.btn{
    padding: 10px 15px;
    background-color: #3E2113;
    border: 1px solid #3C2010;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

/* footer */
footer {
    background-color: #3C2010;
    padding: 30px 0px 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footerone {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.media390{
    display: none;
}

.footerone a {
    font-size: 14px;
    color: #E7E2DF;
    font-weight: 400;
}

.footerone a:hover {
    color: #BF8862;
}

h5 {
    font-size: 16px;
    color: #E7E2DF;
    font-weight: 400;
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lapki img {
    height: 41px;
}

/* footer */

@media screen and (max-width: 834px) {

    /* header */
    .container {
        max-width: 774px;
        margin: 0 auto;
    }

    nav {
        gap: 30px;
    }

    nav a {
        font-size: 14px;
    }

    .iconhead {
        gap: 20px;
    }

    /* header */

    header {
        background-color: #3E2113;
        padding: 20px 0px 20px;
    }
    
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
        align-items: center;
        gap: 35px;
    }
    
    nav a {
        font-size: 16px;
        color: #E7E2DF;
        font-weight: 400;
    }
    
    nav a:hover {
        color: #BF8862;
    }
    
    .iconhead {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    
    h2 {
        padding-top: 10px;
        font-size: 20px;
        color: #3E2113;
    }

    .update{
        align-items: start;
    }
    
    .left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .one_left{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    label{
        font-size: 12px;
        font-weight: 400;
        color: #3E2113;
    }
    
    textarea{
        height: 100px;
        width: 400px;
        padding: 10px;
        font-size: 12px;
        border: 1px solid #3e211350;
        border-radius: 20px;
        color: #3C2010;
    }
    
    input{
        width: 400px;
        padding: 5px 10px;
        font-size: 12px;
        border: 1px solid #3e211350;
        border-radius: 20px;
        color: #3C2010;
    }

    .update img {
        width: 312px;
    }
    
    .btn{
        padding: 5px 10px;
        background-color: #3E2113;
        border: 1px solid #3C2010;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border-radius: 20px;
    }

    /* footer */
    .photo1 {
        display: none;
    }

    .photo2 {
        display: block;
    }

    .footerone a {
        font-size: 12px;
    }

    h5 {
        font-size: 14px;
    }

    /* footer */

}

@media screen and (max-width: 390px) {

    /* header */
    .container {
        max-width: 355px;
        margin: 0 auto;
    }

   
    nav a {
        font-size: 14px;
    }

    .iconhead {
        gap: 20px;
    }

    /* header */


    h2 {
        padding-top: 10px;
        font-size: 20px;
        color: #3E2113;
    }

    .update{
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .one_left{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    label{
        font-size: 14px;
        font-weight: 400;
        color: #3E2113;
    }
    
    textarea{
        height: 100px;
        width: 350px;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #3e211350;
        border-radius: 20px;
        color: #3C2010;
    }
    
    input{
        width: 350px;
        padding: 5px 10px;
        font-size: 14px;
        border: 1px solid #3e211350;
        border-radius: 20px;
        color: #3C2010;
    }

    .update img {
        width: 312px;
    }
    
    .btn{
        padding: 5px 10px;
        background-color: #3E2113;
        border: 1px solid #3C2010;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border-radius: 20px;
    }
    
    

    /* footer */
    .footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .footerone {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .footerone a {
        font-size: 14px;
        color: #E7E2DF;
        font-weight: 400;
    }

    h5 {
        font-size: 16px;
        color: #E7E2DF;
        font-weight: 500;
    }

    /* footer */

    .lil{
        align-items: center;
        flex-direction: row-reverse;

        gap: 50px;
    }

    .burger-btn {
        display: flex;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        max-width: 300px;
        height: 100vh;
        box-shadow: -5px 0 15px #3C2010;
        flex-direction: column;
        padding: 80px 20px 20px;
        transition: right 0.3s ease;
        z-index: 5;
    }
    
    nav.active {
        left: 0;
    }
    
    .burger-btn.active .burger-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .burger-btn.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    
    .burger-btn.active .burger-line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}